{% extends '_layout.njk' %}
{% import '_macro/post-collapse.njk' as post_template with context %}
{% import '_macro/sidebar.njk' as sidebar_template with context %}

{% block title %}{{ __('title.category') }}: {{ page.category }} | {{ title }}{% endblock %}

{% block class %}category posts-collapse{% endblock %}

{% block content %}

  <div class="post-block">
    <div class="category-title-wrap">
      <h1 class="category-title">{{ page.category }}</h1>
    </div>

    {%- if page.category == '工作' %}
    <div class="section-hero">
      <img src="{{ url_for('/images/sections/hero-work.webp') }}" alt="工作" loading="lazy" decoding="async" width="1000" height="1500">
    </div>
    {%- elif page.category == '成长' %}
    <div class="section-hero">
      <img src="{{ url_for('/images/sections/hero-growth.webp') }}" alt="成长" loading="lazy" decoding="async" width="1000" height="1500">
    </div>
    {%- elif page.category == '写作' %}
    <div class="section-hero">
      <img src="{{ url_for('/images/sections/hero-writing.webp') }}" alt="写作" loading="lazy" decoding="async" width="1000" height="1500">
    </div>
    {%- endif %}

    <div class="post-content">
      {{ post_template.render(page.posts) }}
    </div>
  </div>

  {%- include '_partials/pagination.njk' -%}

{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
